@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Dongle&family=Poppins:wght@500&family=Viga&display=swap');

* {
    font-family : 'Viga', sans-serif;
}
#jum {
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url('../img/bg1.jpg');
    background-size: cover;
}